<!DOCTYPE html>
<html lang="en">
<head>
    <title>Menu</title>
</head>
<body>
<center>
    <p></p>
    <h1>Hovedmenu</h1>
    <p></p>
    <p></p>
    <form>
        <input style="width: 300px; padding: 20px; cursor: pointer; box-shadow: 6px 6px 5px; #999;
        -webkit-box-shadow: 6px 6px 5px #999; -moz-box-shadow: 6px 6px 5px #999; font-weight: bold;
        background: #FFFAF0; color: #000; border-radius: 10px; border: 1px solid #999; font-size: 150%;"
               type="button" value="Vagtplan" onclick="window.location.href='Arnold.html'"/>
    </form>
    <p></p>
    <form>
        <input style="width: 300px; padding: 20px; cursor: pointer; box-shadow: 6px 6px 5px; #999;
        -webkit-box-shadow: 6px 6px 5px #999; -moz-box-shadow: 6px 6px 5px #999; font-weight: bold;
        background: #FFFAF0; color: #000; border-radius: 10px; border: 1px solid #999; font-size: 150%;"
               type="button" value="Telefonliste" onclick="window.location.href='Arnold.html'"/>
    </form>
    <p></p>
    <form>
        <input style="width: 300px; padding: 20px; cursor: pointer; box-shadow: 6px 6px 5px; #999;
        -webkit-box-shadow: 6px 6px 5px #999; -moz-box-shadow: 6px 6px 5px #999; font-weight: bold;
        background: #FFFAF0; color: #000; border-radius: 10px; border: 1px solid #999; font-size: 150%;"
               type="button" value="Venteliste" onclick="window.location.href='Arnold.html'"/>
    </form>
</center>
</body>
</html>