<!DOCTYPE html>

<html lang="en">
<head>
    <title>RFB</title>
</head>
<body>

<center><h1> Roskilde Frie Børnehave </h1></center>
</body>
<p></p>
<center>

    <style type="text/css">
        .fieldset-auto-width {
            display: inline-block;
        }
    </style>

    <form action="/login" method="POST">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <fieldset class="fieldset-auto-width">
                <legend><h2>Login:</h2></legend>
                <div class="form-group">
                    <input type="text" name="username" id="username" class="form-control input-lg"
                           placeholder="UserName" required="true" autofocus="true"/>
                </div>
                <p></p>
                <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control input-lg"
                           placeholder="Password" required="true"/>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Login"/>

                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    </form>
</center>
<body>
<center>
    <img src="Fjo.png" alt="børn" width="1200" height="980"/>

</center>
<a href="HovedMenu.html">Hovedmenu</a>
<footer>Copyright &copy; KEA</footer>
</body>
</html>